sphinx
sphinx-rtd-theme
sphinx-design
sphinx-tabs
astropy
astroquery
Bottleneck
drizzlepac
matplotlib
miniutils
numpy
pandas
scipy
tqdm
setuptools
dill
multiprocess
psutil
healpy
astropy-healpix
celluloid
LSSTDESC.Coord
skyfield
pytest
ipython
pysiaf
pyarrow